AXE_BITCOIN_MODE=rpc
BITCOIN_RPC_URL=http://127.0.0.1:8332
BITCOIN_RPC_USER=replace-rpc-user
BITCOIN_RPC_PASS=replace-rpc-pass
BITCOIN_START_HEIGHT=0
BITCOIN_CONFIRMATIONS=2
INDEXER_MAX_RETRIES=3
INDEXER_MAX_DEAD_LETTERS=100
